body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: #1F253D;
  }
  
  .full-screen{
      text-align: center;
      color: white;
  }

  .rule-check{
      margin-top: 15px;
      display: inline-block;
     position: absolute;
      left: 30px;
  }
  .new-game{
    margin-top: 15px;
    display: inline-block;
   position: absolute;
    right: 30px;
}

.game-title{
   
    display:block;
    padding-top: 70px;
    font-size:50px;
}
.game-board{
    text-align: center;
    width: 50%;
    margin-left: auto;
    margin-right:auto;
}
.game-guide{
    text-align: center;
    background-color:#CC324B ;
    width:100%;
    display: block;
    height:40px;
    margin-bottom:0px;
    padding-top:15px;
    font-size:1.3em;
}
.game-content {
    background-color: #394264;
    padding-top: 30px;
}

.text-input{
    width: 300px;
    height:50px;
    font-size: 2em;
    text-align: center;
    margin: auto auto auto auto;
    display: block;
    border: 1px solid #1f253d;
    border-radius: 4px;
    background-color: #50597B;
}

.submit-input{
    width: 300px;
    height:50px;
    font-size: 2em;
    text-align: center;
    margin: 30px auto 10px auto;
    display: block;
    border: 1px solid #1f253d;
    border-radius: 4px;
    background-color: #1f253d; 
    color:white;
}
.guess-num{
    color: black;
    font-size: 26px;
    padding-bottom:15px;
}
.number{
    margin-bottom: 0px;
    margin-top: 0px;
    color: #F19B13;
    font-size: 50px;
    display: inline-block;
}

.game-bottom{
    min-height:60px;
    background-color: #11a8ab;
}

.guess-record{
    display: inline-block;
    
    margin: 10px;
    

}
.guess-record p{
    display: inline-block;
    border: 1px white solid;
    background-color: #1f253d;
    padding: 10px;
    margin: 5px;
}